
  /* Pulsating Neon style */
  .progress.neon {
    background-color: #01fe32;
    box-shadow: 0 0 7px #01fe32 inset, 0 0 16px #08ff35, 0 0 20px #08ff35, 0 0 15px #08ff35;
    -webkit-animation: pulse 2s linear infinite;
    -moz-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
  }
  
  @-webkit-keyframes pulse {
    50% {
      box-shadow: 0 0 5px #01fe32 inset, 0 0 10px #08ff35, 0 0 10px #08ff35, 0 0 10px #08ff35;
    }
  }
  @-moz-keyframes pulse {
    50% {
      box-shadow: 0 0 5px #01fe32 inset, 0 0 10px #08ff35, 0 0 10px #08ff35, 0 0 10px #08ff35;
    }
  }
  @keyframes pulse {
    50% {
      box-shadow: 0 0 5px #01fe32 inset, 0 0 10px #08ff35, 0 0 10px #08ff35, 0 0 10px #08ff35;
    }
  }
