{% extends "admindash/base_a.html" %}  <!--Always should be the first line of code if it is not the base file-->
{% load static %}
{% block content %}

    <div class="container-fluid">
        <h2 align="center"> Edit Item !!! </h2>
        <div class="card mb-3">
               <div class="card-header" style="border-bottom:1px solid rgba(0, 0, 0, 0.22);">
                <h4>
                    <ol class="breadcrumb" align="center" style="display:block;">
                        <li class="breadcrumb-item">
                            <a href="#"><b>Edit Details</b></a>
                        </li>
                    </ol>
                    </h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'item_edit' form_id %}" class="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="bmd-label-floating" for="uname">Title:</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="email">Price:</label>
                            {{ form.price }}
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="email">Discount Price:</label>
                            {{ form.discount_price }}
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="email">Category:</label>
                            {{ form.category }}
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="email">Label:</label>
                            {{ form.label }}
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="pwd">Slug / Short:</label>
                            {{ form.slug }}
                        </div>
                        <div class="form-group">
                            <label class="bmd-label-floating" for="pwd2">Description:</label>
                            {{ form.description }}
                        </div>
                        {% comment %} <div class="form-group">
                            <label class="bmd-label-floating" for="rollid">Upload Image:</label>
                            {{ form.image }}
                        </div> {% endcomment %}
                        <button type="submit" style="font-size:larger" class="btn btn-block btn-success"><i style="color:white" class="material-icons mdc-icon-button__icon">add_to_photos</i> Edit Item</button>
                    </form>
                </div>
            </div>
        </div>

{% endblock content %}