{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% comment %} (% load widget_tweaks %} {% endcomment %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}
  <main> <!--style="background: url({% static 'img/dubai.jpg' %}) no-repeat center center fixed"-->
    <div class="container" style="padding-top:40px;">
      <section class="mb-4">
        <div class="row wow fadeIn">
          <div class='col-md-6' style="margin:auto">
          <h3 align="center" style="color: white;">{% trans "Sign In To Continue" %}</h3>
          <p align="center" style="color: white;">Welcome Back</p>

          {% get_providers as socialaccount_providers %}
          <div class="card">
          <div class="card-body">
          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p align="center">{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %} 
            <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="btn btn-default offset-3" style="margin:auto" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <br>
            <button class="btn btn-block btn-primary" type="submit">{% trans "Sign In" %}</button>

            
                
          </form>
          </div>
          </div>
          </div>
        </div>
      </section>
    </div>
  </main>

{% endblock %}
